body {
    margin: 0 auto;
}
header{
    text-align: center;
    border: 3px solid black;
}
header > h1{
    border: 3px solid black;
}
header > p{
    border: 3px solid black;
}
main {
    display: flex;
    width: 75%;
    margin-left: 10%;
    border: 3px solid rgb(13, 224, 31);
}
aside {
    width: 30%;
    margin
    border: 3px solid rgb(28, 10, 221);
}
section {
    border: 3px solid rgb(221, 10, 10);
}
aside > nav > ul{
    list-style: none;
    display: inline;
}
aside > nav > ul > li{
    border: 3px solid black;
    padding: 2%;
    margin: 20px;
}

.artmedio{
    display: flex;
    border: 3px solid rgb(202, 10, 151);
}
.Imge {
    display: flex;
    justify-content: space-around;
    
}
.divCentro {
    text-align: center;
    border: 3px solid rgb(220, 93, 93);
}

.img {
    width: 100%;
}

.img > img {
    width: 100%;
}
footer {
    background-color: gray;
    padding: 5px;
    text-align: end;
}